name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            setup.py

      - name: Install poetry
        run: |
          python -m pip install poetry==1.8.2

      - name: Init
        run: make init-poetry

      - name: CI
        run: make ci

      - name: Downloads models CPU
        run: poetry run homr --init --gpu no

      - name: Downloads models GPU
        run: poetry run homr --init --gpu force
